# Entries for Gradle
**/.gradle/
**/build/

# Entries for IntelliJ
**/.idea/
**/out/

# Entries for Java
**.class
**.jar
**.war

# Entries for VS Code
**/.vscode/

# Entries for NodeJS
**/node_modules/
**.npmrc

**.log
